Package: me.cgm616.maleyaprefs
Name: MaleyaPrefs
Version: 1.0.0
Architecture: iphoneos-arm
Description: Prefs packages for Axinen's Maleya theme.
Maintainer: cgm616 <cgm616+cydia@gmail.com>
Author: cgm616 <cgm616+cydia@gmail.com>
Section: Themes
