<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>MaleyaTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By:</string>
			<key>footerText</key>
			<string>Tap on my name to go to my twitter.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterButton</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>axinen.png</string>
			<key>label</key>
			<string>@Axinen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Change Log</string>
			<key>footerText</key>
			<string>What's changed in the latest versions!</string>
		</dict>
		<dict>
			<key>action</key>
			<string>changesButton</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>changes.png</string>
			<key>label</key>
			<string>Changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Prefs Created by:</string>
			<key>footerText</key>
			<string>Check out VolumeBar!</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterButton2</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>cgm616.png</string>
			<key>label</key>
			<string>@cgm616</string>
		</dict>
	</array>
	<key>title</key>
	<string>Maleya</string>
</dict>
</plist>
